@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script&family=Inter:wght@100..900&family=Jim+Nightshade&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Dancing+Script&family=Inter:wght@100..900&family=Jim+Nightshade&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    background-color: black;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }


.ubuntu-regular {
    font-family: "Crimson", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .dance-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.section-title {
  text-align: center;
  font-family: "Creepster", system-ui;
  text-transform: uppercase;
  font-size: 240%;
}

.about-me {
  margin-top: 100px;
}


footer {
  background-image: url();
  background-position: center;
  background-size: cover;
}

.pix:hover {
  opacity: 0.70;
}

/* .main-img {
  position: relative;
}

.inner-image {
  position: absolute;
  top: 230px;
  right: 150px;
  width: 500px;
  height: 300px;
  border: 4px solid white;
} */
